<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/public/images/favicon.ico">
  <title>React Sample</title>
</head>
<body>
<div id="app"></div>
<script src="/public/libs/react.production.min.js"></script>
<script src="/public/libs/react-dom.production.min.js"></script>
</body>
</html>
